<p>add-photo works!</p>
<!--<input [(ngModel)]="photo" type="file" />-->
<label class="image-upload-container btn btn-bwm">
  <span>Select Image</span>
  <input #imageInput
         type="file"
         accept="image/*" (change)="onFileChanged($event)">
<!--         (change)="processFile(imageInput)">-->
</label>

<input type="button" (click)="onUpload()" value="upload">

<img src="http://localhost:8000/img/1/1.png" alt="image" />
<!--<div *ngIf="selectedFile" class="img-preview-container">-->

<!--  <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"-->
<!--       [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">-->
<!--  </div>-->

<!--  <div *ngIf="selectedFile.pending" class="img-loading-overlay">-->
<!--    <div class="img-spinning-circle"></div>-->
<!--  </div>-->

<!--  <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>-->
<!--  <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>-->
<!--</div>-->

<!--<button (click)="sendImage()">Wyślij</button>-->
