<div class="container">
  <div class="row">
    <header class="jumbotron col">
      <h1>Rejestracja</h1>
      <small>dokończ rejestrację</small>
    </header>  
  </div>
</div>
<div class="container margin">
  <div class="row">
    <div class="offset-4 col-4">
      <div class="form-group">
        <small class="form-text text-muted">Nick</small>
        <input  type="text" [(ngModel)]="newUzytkownik.nick" class=""/>
        <small class="form-text text-muted">E-mail</small>
        <input type="hidden"  [(ngModel)]="newUser.mail" class="" disabled>
        <input class="form-control" value="{{newUser.mail}}" disabled>
        <small class="form-text text-muted">Hasło</small>
        <input type="password" [(ngModel)]="newUzytkownik.haslo" class=""/>
        <small class="form-text text-muted">Płeć</small>
        <input type="hidden" [(ngModel)]="newUser.plec" class="" disabled/>
        <input class="form-control" *ngIf="newUser.plec === 'true'" value="Mężczyzna" disabled>
        <input class="form-control" *ngIf="newUser.plec === 'false'" value="Kobieta" disabled>
        <small class="form-text text-muted">Miejscowość</small>
        <input type="text"  [(ngModel)]="newUzytkownik.miejscowosc" class=""/>
        <small class="form-text text-muted">Opis</small>
        <input type="text"  [(ngModel)]="newUzytkownik.opis" class=""/><br>
        <small class="form-text text-muted">Wybierz pierwsze zainteresowanie</small><br>
        <form [formGroup]="podkategoriaForm">
          <select class="custom-select" formControlName="podkategoriaControl">
            <option [value]="podkategoria.id"  *ngFor="let podkategoria of podkategorie">{{podkategoria.nazwa}}</option>
          </select><br><br>
        </form>
        <small class="form-text text-muted">Wybierz drugie zainteresowanie</small><br>
        <form [formGroup]="podkategoriaForm2">
          <select class="custom-select" formControlName="podkategoriaControl2">
            <option [value]="podkategoria2.id" *ngFor="let podkategoria2 of podkategorie2">{{podkategoria2.nazwa}}</option>
          </select><br><br>
        </form>
        <small class="form-text text-muted">Wybierz trzecie zainteresowanie</small><br>
        <form [formGroup]="podkategoriaForm3">
          <select class="custom-select" formControlName="podkategoriaControl3">
            <option [value]="podkategoria3.id" *ngFor="let podkategoria3 of podkategorie3">{{podkategoria3.nazwa}}</option>
          </select>
        </form>
        <br>
        <button (click)="addUser()" class="btn btn-success">Stwórz konto</button>
        <div *ngIf="errorRejestracja"><br><br>Podałeś błędne dane!</div>
      </div>
    </div>
  </div>
</div>