<div class="container">
  <div class="row">
    <header class="jumbotron col">
      <h1>Rejestracja</h1>
      <small>dokończ rejestrację</small>
    </header>  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Nick:</label>
        <input [(ngModel)]="newUzytkownik.nick" class="form-control"/>
        <label>E-mail:</label>
        <input [(ngModel)]="newUser.mail" class="form-control" disabled>
        <label>Hasło:</label>
        <input type="password" [(ngModel)]="newUzytkownik.haslo" class="form-control"/>
        <label>Płeć:</label>
        <input [(ngModel)]="newUser.plec" class="form-control" disabled>
        <label>Opis:</label>
        <input [(ngModel)]="newUzytkownik.opis" class="form-control"/>
        <label>Wybierz pierwsze zainteresowanie:</label>
        <form [formGroup]="podkategoriaForm">
          <select formControlName="podkategoriaControl">

            <option [value]="podkategoria" *ngFor="let podkategoria of podkategorie">{{podkategoria}}</option>
          </select>
        </form>
        <label>Wybierz drugie zainteresowanie:</label>
        <form [formGroup]="podkategoriaForm2">
          <select formControlName="podkategoriaControl2">
            <option [value]="podkategoria2" *ngFor="let podkategoria2 of podkategorie2">{{podkategoria2}}</option>
          </select>
        </form>
        <label>Wybierz trzecie zainteresowanie:</label>
        <form [formGroup]="podkategoriaForm3">
          <select formControlName="podkategoriaControl3">
            <option [value]="podkategoria3" *ngFor="let podkategoria3 of podkategorie3">{{podkategoria3}}</option>
          </select>
        </form>
        <br>
        <button (click)="addUser()" class="btn btn-success">Stwórz konto</button>
        <div *ngIf="errorRejestracja"><br><br>Podałeś błędne dane!</div>
      </div>
    </div>
  </div>
