<div class="container">
  <div class="row">
    <header class="jumbotron col-12">
      <h1>Rejestracja</h1>
      <small>dokończ rejestrację</small>
    </header>
    <form class="col-12">
      <input type="text" id="inputMailLogin" required>
      <small class="form-text text-muted">Nick</small>
      <input type="password" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Haslo</small>
      <input type="password" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Powtórz haslo</small>
      <input type="text" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Miejscowość</small>
      <input type="text" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Ulica</small>
      <input type="text" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Budynek</small>
      <input type="text" id="inputPasswordLogin" required>
      <small class="form-text text-muted">Lokal</small>
      <input routerLink="/user/1/user-list" class="btn btn-danger" type="submit" value="Stwórz" >
    </form>
  </div>
</div>
