<div class="container">
    <div class="row">
      <ul class="list-group offset-xl-1 col-xl-10 offset-md-0 col-md-12">
        <li class="list-group-item active"><h4 class="text-center col-12">Lista zgłoszeń</h4></li>
        <li class="list-group-item active">
          <div class="col-3">Osoba zgłaszająca</div>
          <div class="col-3">Osoba zgłaszana</div>
          <div class="col-2">Data Zgłoszenia</div>
      </li>
        <li *ngFor="let zgloszenie of zgloszenia; index as i" class="list-group-item list-group-item-action">
          <div class="col-3 nick">{{zgloszenie.uzytkownikZglaszajacy.nick}}</div>
          <div class="col-3 nick">{{zgloszenie.uzytkownikZglaszany.nick}}</div>
          <div class="col-2 data">{{zgloszenie.dataZgloszenia.slice(0,10)}}</div>
          <div class="col-2"><button (click)="zablokuj(i, zgloszenie.uzytkownikZglaszany)" class="w-100 btn btn-danger">Przyjmij</button></div>
          <div class="col-2"><button (click)="delete(i)" class="w-100 btn btn-dark">Usuń</button></div>
          <div class="col-12 opis">{{zgloszenie.tresc}}</div>
        </li>
      </ul>
    </div>
  </div>
