<div class="container">
  <div class="row">
    <ul class="list-group offset-xl-1 col-xl-10 offset-md-0 col-md-12">
      <li class="list-group-item active"><h4 class="text-center col-12">Może to Twoja druga połowa?</h4></li>
      <li class="list-group-item active">
        <form class="form-inline col-12">
          <div class="col">
            <input [(ngModel)]="wzorzec" name="search"
                class="form-control w-100" type="search" placeholder="Wyszukaj" aria-label="Search">
          </div>

        </form>
      </li>
      <li class="list-group-item active">
          <div class="col-3">Nick</div>
          <div class="col-5">Opis</div>
          <div class="col-2">Punkty dopasowania</div>
      </li>
      <div *ngIf="wzorzec.length > 0">
        <li class="list-group-item active"><h4 class="text-center col-12">Wyniki wyszukiwania</h4></li>
        <li *ngFor="let uzytkownik of uzytkownicy | myPipe : wzorzec"
            class="list-group-item list-group-item-action">
          <div class="col-3 nick"><div class="portrait"></div>{{uzytkownik.nick}}</div>
          <div class="col-5 opis">{{uzytkownik.opis}}</div>
          <div class="col-2 punkty-dopasowania">{{uzytkownik.points}}</div>
          <div class="col-2"><button class="w-100 btn btn-danger">dodaj</button></div>
        </li>
    </div>
      <li class="list-group-item active"><h4 class="text-center col-12">Propozycje według dopasowania</h4>
      <li *ngFor="let uzytkownik of sugestie"
          class="list-group-item list-group-item-action">
          <div class="col-3 nick"><div class="portrait"></div>{{uzytkownik.uzytkownik.nick}}</div>
          <div class="col-5 opis">{{uzytkownik.uzytkownik.opis}}</div>
          <div class="col-2 punkty-dopasowania">{{uzytkownik.points}}</div>
          <div class="col-2"><button class="w-100 btn btn-danger">Dodaj</button></div>
      </li>

    </ul>
  </div>
</div>
