<div class="container">
  <div class="row">
    <h4>Może to Twoja druga połowa?</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nick</th>
        <th scope="col">Opis</th>
        <th scope="col">Punkty dopasowania</th>

        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let uzytkownik of uzytkownicy">
        <th scope="row"><div class="portrait"></div></th>
        <td>
         {{uzytkownik.uzytkownik.nick}}

        </td>
        <td>{{uzytkownik.uzytkownik.opis}}</td>

        <td>{{uzytkownik.points}} pkt</td>

        <td>

          <button

            class="btn btn-danger">Zaproponuj znajomość</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
