<div class="container">
  <div class="row">
    <ul class="list-group offset-xl-1 col-xl-10 offset-md-0 col-md-12">
      <li class="list-group-item active"><h4 class="text-center col-12">Może to Twoja druga połowa?</h4></li>
      <li class="list-group-item active">
        <form class="form-inline col-12">
          <div class="col">
            <input [(ngModel)]="wzorzec" name="search"
                class="form-control w-100" type="search" placeholder="Wyszukaj" aria-label="Search">
          </div>

        </form>
      </li>
      <li class="list-group-item active">
          <div class="col-3">Nick</div>
          <div class="col-5">Opis</div>
          <div class="col-2">Punkty dopasowania</div>
      </li>
      <div *ngIf="wzorzec.length > 0">
        <li class="list-group-item active"><h4 class="text-center col-12">Wyniki wyszukiwania</h4></li>
        <li *ngFor="let uzytkownik of uzytkownicy | myPipe : wzorzec"
            class="list-group-item list-group-item-action">
          <div class="col-3 nick">

            <div *ngFor="let profilowe of profilowe">
            <div *ngIf="profilowe.uzytkownik.id === uzytkownik.id">
              <div class="portrait" style="background-image: url({{profilowe.link}}); background-color: transparent"></div>
            </div>
          </div>

            <div style="margin-top: 6.5px; padding-left: 70px"><a routerLink="../blog/{{uzytkownik.id}}" class="nav-link">{{uzytkownik.nick}}</a></div></div>
          <div class="col-5 opis">{{uzytkownik.opis}}</div>
          <div class="col-2 punkty-dopasowania">{{uzytkownik.points}}</div>

          <div *ngIf="uzytkownik.id !== zalogowanyUzytkownik.id && uzytkownik.uprawnienia !== 2"  class="col-2"><button (click)="addZwiazek(uzytkownik)" class="w-100 btn btn-danger">Dodaj</button></div>

          <div *ngIf="uzytkownik.uprawnienia === 2" style="color: white;" class="col-2 bg-danger">Użytkownik zablokowany!</div>
        </li>
    </div>
      <li class="list-group-item active"><h4 class="text-center col-12">Propozycje według dopasowania</h4>
      <li *ngFor="let uzytkownik of sugestie"
          class="list-group-item list-group-item-action">
      <div class="col-3 nick">
        <div *ngFor="let profilowe of profilowe">
        <div *ngIf="uzytkownik.uzytkownik.id === profilowe.uzytkownik.id">
          <div class="portrait" style="background-image: url({{profilowe.link}}); background-color: transparent"></div>
        </div>

        </div>


        <div style="margin-top: 6.5px; padding-left: 70px"><a routerLink="../blog/{{uzytkownik.uzytkownik.id}}" class="nav-link">{{uzytkownik.uzytkownik.nick}}</a></div></div>
          <div class="col-5 opis">{{uzytkownik.uzytkownik.opis}}</div>
          <div class="col-2 punkty-dopasowania">{{uzytkownik.points}}</div>
      <div *ngIf="uzytkownik.id !== zalogowanyUzytkownik.id && uzytkownik.uprawnienia !== 2"  class="col-2"><button (click)="addZwiazek(uzytkownik.uzytkownik)" class="w-100 btn btn-danger">Dodaj</button></div>
      <div *ngIf="uzytkownik.uprawnienia === 2"   style="color: white;"  class="col-2 bg-danger">Użytkownik zablokowany!</div>
      </li>

    </ul>
  </div>
</div>
