.logo {
  width: 200px;
}

.jumbotron {
  margin-bottom: 0;
  padding: 3rem 2rem;
}

.jumbotron div {
  width: 200px;
  margin: auto;
}

nav {
  background-color:  #F02222;
  flex-direction: row;
}

.navbar span {
  margin-right: 50px;
  /*font-weight: bold;*/
  font-size: 120%;
  color: whitesmoke;
}

ul li a {
  color: #ffdada;
}

ul li a:hover {
  color: white;
}

footer {
  margin-top: 50px;
}
