.logo {
  margin-bottom: 0!important;
}

nav {
  background-color:  #E61E1E;
  flex-direction: row;
}

.navbar span {
  margin-right: 50px;
  /*font-weight: bold;*/
  font-size: 120%;
  color: whitesmoke;
}

ul li a {
  color: #ffdada;
}

ul li a:hover {
  color: white;
}

.portrait {
  background-color: teal;
  /* background-image: url(img/serce-ooooo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 45%;
  width: 0;
  float: left;
}
