<div class="container-fluid">
  <nav class="row">
    <form class="offset-xl-2 col-xl-3" [formGroup]="uzytkownikCzyIstnieje" (ngSubmit)="zaloguj(uzytkownikCzyIstnieje.value)">
      <div class="col-12">
        <input type="text" formControlName="mail">
        <small class="form-text text-muted">E-mail</small>
        <input type="password" formControlName="haslo">
        <small class="form-text text-muted">Haslo</small>
        <input class="btn btn-danger" type="submit" value="Zaloguj" >
        <div *ngIf="error"><br><br>Podałeś błędne dane!</div>
      </div>
    </form>
    <div class="logo jumbotron offset-xl-0 col-xl-2"></div>
    <form class="col-xl-3" id="logInNav" [formGroup]="newUser" (ngSubmit)="addUser(newUser.value)">
      <div class="col-12">
        <div class="radio row align-items-center cocol-12">
          <div class="custom-control custom-radio col">
            <input type="radio" class="custom-control-input"  value="true" formControlName="plec" >
            <label class="custom-control-label" >Kobieta</label>
          </div>
          <div class="custom-control custom-radio col">
            <input type="radio" class="custom-control-input" value="false" formControlName="plec"  >
            <label class="custom-control-label" >Mężczyzna</label>
          </div>
        </div>
        <input type="email" required formControlName="mail" >
        <small class="form-text text-muted">E-mail</small>
        <input  class="btn btn-danger" type="submit" value="Zarejestruj">
      </div>
    </form>
  </nav>
  <main>
    <section class="row">
      <div class="col-12">
        <div class="row">
          <div class="offset-xl-2 col-xl-8">
            <h1>Dołącz do miliona zadowolonych użytkowników</h1>
            <p>Już ponad milion użytkowników skorzystało z Serducha</p>
            <p>Dołącz do nas już teraz i skorzystaj z naszej pomocy w
              znalezieniu twojej drugiej połówki</p>
          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-12">
        <div class="offset-xl-2 col-xl-10">
          <h1>Bezpieczne randki</h1>
          <p>Dbamy o twoją prywatność</p>
        </div>
      </div>
    </section>
  </main>
  <footer class="row">
    <div class="col-12">
      <section>
        <h2>Serducho</h2>
        <div>
          <p>O nas</p>
          <p>Reklama</p>
          <p>Bezpieczeństwo</p>
          <p>Pomoc</p>
        </div>
        <div>
          <p>Regulamin</p>
          <p>Media</p>
          <p>Mobilne</p>
          <p>Kontakt</p>
        </div>
      </section>
      <section>
        <h2>Poady</h2>
        <div>
          <p>Rady Serducha</p>
          <p>Eksperci</p>
          <p>Konkursy</p>
          <p>Galerie</p>
        </div>
      </section>
    </div>
  </footer>
</div>
