<div class="container">
  <div class="row">
    <div class="col-4 fake-img bg-dark"></div>
    <div class="col-8">
      <h1>{{zalogowanyUzytkownik.nick}}</h1>
      <h3>{{zalogowanyUzytkownik.miejscowosc}}</h3>
      <h3>{{zalogowanyUzytkownik.plec}}</h3>
      <p class="w-100 jumbotron">{{zalogowanyUzytkownik.opis}}</p>
      <button class="btn btn-success">Dodaj post</button>
    </div>
    <header class="jumbotron w-100">
      <h1 class="text-center">Posty</h1>
    </header>
    <div 
        class="post jumbotron offset-2 col-8">
      <div class="w-100">
        <h1 class="">Tytuł ze zdjęciem</h1>
        <h4 class="">Data</h4>
      </div>
      <div class="w-100 fake-img bg-dark"></div>
      <div class="w-100">
        <div class="opis">
          opis lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
        <button class="btn btn-danger">Usuń post</button>
      </div>
    </div>
    <div 
        class="post jumbotron offset-2 col-8">
      <div class="w-100 fake-img bg-dark">
        <h1 class="">Tytuł bez zdjęcia</h1>
        <h4 class="">Data</h4>
      </div>
      <div class="w-100">
        <div class="opis">
          opis lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
          lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
        <button class="btn btn-danger">Usuń post</button>
      </div>
    </div>
  </div>
</div>

