<div class="container">
  <div class="row">
    <div *ngFor="let post of post" class="col-4" >
      <div *ngIf="post.link !== '' && post.uzytkownik.id === uzytkownicy.id && post.status === 0" 
            style="background-image: url({{post.link}});" class="bg-img fake-img">
      </div>
    </div>

    <div *ngIf="uzytkownicy !== undefined" class="col-8">
      <small>Nick</small><h1>{{uzytkownicy.nick}}</h1>
      <small>Miejscowość</small> <h3>{{uzytkownicy.miejscowosc}}</h3>
      <small>Płeć</small><h3><div *ngIf="uzytkownicy.plec === false; else elseBlock" >Kobieta</div><ng-template #elseBlock>Mężczyzna</ng-template></h3>
      <small>Zainteresowania</small> <h3>{{uzytkownicy.podKategorieList[0].nazwa}}, {{uzytkownicy.podKategorieList[1].nazwa}}, {{uzytkownicy.podKategorieList[2].nazwa}}</h3>
      <small>Opis</small>
      <p class="w-100 jumbotron">{{uzytkownicy.opis}}</p>
      <div *ngIf="uzytkownicy.id === zalogowanyUzytkownik.id; else innyNizZalogowany">
        <div *ngIf="dodajPost === false">
          <button class="btn btn-success" (click)="wysun()">Dodaj post</button>
        </div>
      </div>
      <ng-template #innyNizZalogowany>
        <button (click)="addZwiazek(uzytkownicy)" class="btn btn-danger">Dodaj do znajomych</button>
      </ng-template>
      <div  *ngIf="uzytkownicy.id === zalogowanyUzytkownik.id && dodajPost === true" class="form-group">         
        <small>Tytuł posta</small>
        <input  type="text" [(ngModel)]="newZdjecia.tytul" class="form-control"/>
        <small>Opis posta</small>
        <input  type="text" [(ngModel)]="newZdjecia.opis" class="form-control"/><br>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" [(ngModel)]="newZdjecia.status" id="0" value="0" name="typ"  />
          <label class="custom-control-label" for="0">Ustaw na profilowe</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="1" name="typ"  value="1" [(ngModel)]="newZdjecia.status" checked/>
          <label class="custom-control-label" for="1">Zwykły post</label>
        </div>
        <br><br>
        <div class="custom-file">
          <input type="file" accept="image/*" (change)="onFileChanged($event)" class="custom-file-input" id="file">
          <label class="custom-file-label" for="file">Wybierz zdjęcie</label>
        </div>
        <!-- <small >Wybierz zdjęcie</small><br>
        <label class="image-upload-container "></label><br>
        <input  type="file" class="custom-"  accept="image/*" (change)="onFileChanged($event)"><br><br> -->
        <button class="btn btn-success" (click)="onUpload()" >Wyślij post</button><br><br>
        <button class="btn btn-warning" (click)="wysun()" >Anuluj</button>
      </div>
    </div>

    <header class="jumbotron w-100">
      <h1 class="text-center">Posty</h1>
    </header>
    <div *ngFor="let post of post" class="post jumbotron offset-2 col-8">
      <div *ngIf="post.link !== '' && post.uzytkownik.id === uzytkownicy.id" >
        <div class="w-100">
          <h1 class="">{{post.tytul}}</h1>
          <h4 class="">{{post.dataDodania.slice(0,10)}}</h4>
        </div>
        <div style="background-image: url({{post.link}});" class="img-fluid w-100 bg-img"></div>
        <div class="w-100">
          <div class="opis">{{post.opis}}</div>
          <button *ngIf="uzytkownicy.id === zalogowanyUzytkownik.id" 
                  (click)="delete(post)" class="btn btn-danger">Usuń post</button>
        </div>
      </div>
      <div *ngIf="post.link === '' && post.uzytkownik.id === uzytkownicy.id" >
        <div class="w-100 fake-img bg-dark">
          <h1 class="">{{post.tytul}}</h1>
          <h4 class="">{{post.dataDodania.slice(0,10)}}</h4>
        </div>
        <div class="w-100">
          <div class="opis">{{post.opis}}</div>
        <button *ngIf="uzytkownicy.id === zalogowanyUzytkownik.id" 
                (click)="delete(post)" class="btn btn-danger">Usuń post</button>
        </div>
      </div>
    </div>
  </div>
</div>

