<div class="container">
  <div class="row">
    <div class="offset-4 col-4">
      <div class="form-group">
        <small>Nick</small>
        <input type="text" [(ngModel)]="zalogowanyUzytkownik.nick" class=""/>
        <small>E-mail</small>
        <input type="text" [(ngModel)]="zalogowanyUzytkownik.mail" class=""/>
        <small>Hasło</small>
        <input type="password" [(ngModel)]="zalogowanyUzytkownik.haslo" class=""/>
        <small>Płeć</small>
        <input class="form-control" *ngIf="isMezczyzna()" value="Mężczyzna" disabled>
        <input class="form-control" *ngIf="isKobieta()" value="Kobieta" disabled>
        <small>Opis</small>
        <input type="text" [(ngModel)]="zalogowanyUzytkownik.opis" class=""/>
        <small>Miejscowość</small>
        <input  type="text"  [(ngModel)]="zalogowanyUzytkownik.miejscowosc" class=""/><br>
        <small>Wybierz pierwsze zainteresowanie</small><br>
        <form [formGroup]="podkategoriaForm">
          <select class="custom-select" formControlName="podkategoriaControl">
            <option [value]="podkategoria.id" *ngFor="let podkategoria of podkategorie">{{podkategoria.nazwa}}</option><br>
          </select><br><br>
          <small>Wybierz drugie zainteresowanie</small><br>
          <select class="custom-select" formControlName="podkategoriaControl2">
            <option [value]="podkategoria.id" *ngFor="let podkategoria of podkategorie">{{podkategoria.nazwa}}</option><br>
          </select><br><br>
          <small>Wybierz trzecie zainteresowanie</small><br>
          <select class="custom-select" formControlName="podkategoriaControl3">
            <option [value]="podkategoria.id" *ngFor="let podkategoria of podkategorie">{{podkategoria.nazwa}}</option><br>
          </select><br>
        </form>
        <br>
        <button (click)="updateUzytkownik()" class="btn btn-success">Aktualizuj</button>
      </div>
    </div>
  </div>
</div>
