<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label>Nick:</label>
        <input [(ngModel)]="zalogowanyUzytkownik.nick" class="form-control"/>
        <label>E-mail:</label>
        <input [(ngModel)]="zalogowanyUzytkownik.mail" class="form-control"/>
        <label>Hasło:</label>
        <input type="password" [(ngModel)]="zalogowanyUzytkownik.haslo" class="form-control"/>
        <label>Płeć:</label>
        <input [(ngModel)]="zalogowanyUzytkownik.plec" class="form-control"/>
        <label>Opis:</label>
        <input [(ngModel)]="zalogowanyUzytkownik.opis" class="form-control"/><br>
        <button (click)="updateUzytkownik()" class="btn btn-success">Aktualizuj</button>
      </div>
    </div>
  </div>
</div>
